@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Medium.ttf);
}
.dictionary{
  overflow-y: scroll;
  overflow-x: hidden;
  top: 15%;
  left: 10%;
  position:absolute;
  width: 80%;
  height: 78%;
  background-color: #F0F0F0;
  border-radius: 30px;
}
.words{
  top:2%;
  left:2%;
  position:relative;
  font-family: Satoshi;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 10%;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 16px;
}
.dictionary-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dictionary-dictionary {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.dictionary-rectangle49 {
  top: 66px;
  left: 81px;
  width: 242px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.dictionary-arrowcolor3 {
  top: 72px;
  left: 36px;
  width: 16px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.dictionary-text {
  top: 75px;
  left: 126px;
  color: rgba(184, 184, 184, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
