@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Medium.ttf);
}
.listening-start-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.listening-start-listening-start {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.listening-start-notes {
  top: 740px;
  left: 172px;
  width: 46px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.listening-start-ellipse9 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.listening-start-file1 {
  top: 10px;
  left: 10px;
  width: 27px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.listening-start-timer {
  top: 735px;
  left: 50px;
  width: 105px;
  height: 55px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(80, 223, 112, 1);
}
.listening-start-text {
  top: 14px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listening-start-text2 {
  top: 13px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listening-start-text3 {
  top: 14px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listening-start-finish {
  top: 735px;
  left: 235px;
  width: 105px;
  height: 55px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(81, 182, 255, 1);
}
.listening-start-text02 {
  top: 13px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listening-start-text04 {
  top: 517px;
  left: 46px;
  color: rgba(167, 167, 167, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.listening-start-text09 {
  top: 105px;
  left: 71px;
  text-align: center;
  text-align-last: center;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.listening-start-ellipse11 {
  top: 47px;
  left: 313px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: transparent;
}
.listening-start-text11 {
  top: 50px;
  left: 324px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.listening-start-pause-button {
  top: 201px;
  left: 76px;
  width: 237px;
  height: 237px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.listening-start-ellipse18 {
  top: 0px;
  left: 0px;
  width: 237px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.listening-start-rectangle40 {
  top: 75px;
  left: 86px;
  width: 25px;
  height: 87px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.listening-start-rectangle41 {
  top: 75px;
  left: 127px;
  width: 25px;
  height: 87px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.listening-pause-play-button {
  top: 201px;
  left: 76px;
  width: 237px;
  height: 237px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.listening-pause-polygon1 {
  top: 50px;
  left: 188px;
  width: 138px;
  height: 138px;
  position: absolute;
}
@media(max-width: 479px) {
  .listening-pause-polygon1 {
    top: 72px;
    left: 78px;
    width: 94px;
    height: 94px;
    margin: auto;
  }
}
