@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Medium.ttf);
}

.quizA{
  z-index: 1000;
  width: 19%;
  height: 8%;
  left:30.5%;
  top:62%;
  position: absolute;
}
.readA{
  z-index: 1000;
  width: 18.5%;
  height: 7.5%;
  left:50.5%;
  top:62%;
  position: absolute;
}
.answerNum{
  top:25%;
  left: 42%;
  position:relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  color:rgba(124, 124, 124, 1);
}
.answers{
  top:12%;
  left: 4%;
  position:relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 18px;
  color:rgba(124, 124, 124, 1);
}
.quizNum{
  top:40%;
  right: 37%;
  position: relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  color:rgba(124, 124, 124, 1);
}
.quiz{
  top:7%;
  left:12%;
  position: relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 18px;
  color:rgba(124, 124, 124, 1);
}
.read{
  top:25%;
  left:25%;
  position: relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  color:rgba(124, 124, 124, 1);
}
.Listen{
  top:7%;
  left:12%;
  position: relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 18px;
  color:rgba(124, 124, 124, 1);
}
.Time{
  top:7%;
  left:18%;
  position: relative;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 18px;
  color:rgba(124, 124, 124, 1);
}
.Achievements{
  top: 3%;
  left: 27%;
  position:relative;
  font-family: Satoshi;
  font-weight: 900;
  font-size: 20px;
  color:rgba(124, 124, 124, 1);
}
.stat-grid{
  display: grid;
  left:10%;
  top:40%;
  position: absolute;
  width: 80%;
  height: 90%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20%;
 
}

.stats1{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 95%;
  height: 95%;
  background-color: #E3E3E3;
  border-radius: 20%;
}
.stats2{
  grid-row: 1/2;
  grid-column: 2/3;
  width: 95%;
  height: 95%;
  background-color: #E3E3E3;
  border-radius: 20%;
}
.stats3{
  grid-row: 2/3;
  grid-column: 1/3;

  width: 97%;
  height: 95%;
  background-color: #E3E3E3;
  border-radius: 15px;
}
.stats4{
  grid-row:3/4;
  grid-column: 1/2;
  width: 95%;
  height: 95%;
  background-color: #E3E3E3;
  border-radius: 20%;
}
.stats5{
  grid-row:3/4;
  grid-column: 2/3;
  width: 95%;
  height: 95%;
  background-color: #E3E3E3;
  border-radius: 20%;
}
.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-profile {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(241, 241, 241, 1);
}
.profile-hey-kristina {
  top: 65px;
  left: 114px;
  width: 161px;
  height: 196px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profile-text {
  top: 126px;
  color: rgba(0, 0, 0, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Satoshi;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-profile-icon {
  top: 0px;
  left: 22px;
  width: 118px;
  height: 118px;
  position: absolute;
  border-color: transparent;
}
.profile-moon {
  top: 65px;
  left: 318px;
  width: 30px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.profile-rectangle21 {
  top: 289px;
  left: 35px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.profile-rectangle23 {
  top: 456px;
  left: 35px;
  width: 320px;
  height: 155px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.profile-rectangle24 {
  top: 623px;
  left: 35px;
  width: 155px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.profile-rectangle25 {
  top: 623px;
  left: 200px;
  width: 155px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.profile-rectangle22 {
  top: 289px;
  left: 200px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.profile-back1 {
  top: 65px;
  left: 49px;
  width: 15px;
  height: 26px;
  position: absolute;
  border-color: transparent;
}
@media(max-width: 479px) {
  .profile-text {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
  }
  .profile-email {
    left: 0px;
    color: #7c7c7c;
    right: 0px;
    bottom: -7px;
    margin: auto;
    position: absolute;
    text-align: center;
  }
}
