@font-face {
  font-family: Satoshi;
  src: url(./fonts/Satoshi-Medium.ttf);
}

.reading-started-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.reading-started-reading-started {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.reading-started-frame1 {
  top: 137px;
  left: 39px;
  width: 312px;
  height: 590px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  overflow-y:scroll
}
.reading-started-text {
  color: rgba(0, 0, 0, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-started-text08 {
  top: 72px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-started-ellipse10 {
  top: 72px;
  left: 314px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: transparent;
}
.reading-started-text10 {
  top: 75px;
  left: 325px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-started-notes {
  top: 740px;
  left: 172px;
  width: 46px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-started-ellipse9 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.reading-started-file1 {
  top: 10px;
  left: 10px;
  width: 27px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.reading-started-timer {
  top: 735px;
  left: 50px;
  width: 105px;
  height: 55px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(80, 223, 112, 1);
}
.reading-started-minutes {
  top: 14px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-started-colon {
  top: 13px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-started-seconds {
  top: 14px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-started-finish {
  top: 735px;
  left: 235px;
  width: 105px;
  height: 55px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(81, 182, 255, 1);
}
.reading-started-text13 {
  top: 20%;
  left: 18%;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .reading-started-frame1 {
    height: 589px;
    overflow-y:scroll;
  }
  .reading-started-text {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}
