.reading-open-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.reading-open-reading-open {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(241, 241, 241, 1);
}
.reading-open-reading {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.reading-open-image-books {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 228px;
  position: absolute;
  border-color: transparent;
}
.reading-open-untitled21 {
  top: 24px;
  left: 340px;
  width: 26px;
  height: 26px;
  position: absolute;
  border-color: transparent;
}
.reading-open-rectangle16 {
  top: 74px;
  left: 0px;
  width: 390px;
  height: 214px;
  position: absolute;
  border-color: transparent;
}
.reading-open-text {
  top: 142px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Satoshi;
  font-weight: 900;
  line-height: 107.50000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-open-text02 {
  top: 199px;
  left: 34px;
  color: rgba(123, 123, 123, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-open-text04 {
  top: 313px;
  left: 78px;
  color: rgba(0, 0, 0, 1);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-open-text06 {
  top: 538px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-open-text08 {
  top: 655px;
  left: 108px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.reading-open-chemistry {
  top: 365px;
  left: 167px;
  width: 120px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 231, 231, 1);
}
.reading-open-text10 {
  top: 5px;
  left: 14px;
  color: rgba(123, 123, 123, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-art {
  top: 365px;
  left: 295px;
  width: 51px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 231, 231, 1);
}
.reading-open-text12 {
  top: 5px;
  left: 11px;
  color: rgba(123, 123, 123, 1);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-literature {
  top: 365px;
  left: 44px;
  width: 115px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 231, 231, 1);
}
.reading-open-text14 {
  top: 5px;
  left: 15px;
  color: rgba(123, 123, 123, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-biology {
  top: 414px;
  left: 126px;
  width: 88px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 231, 231, 1);
}
.reading-open-text16 {
  top: 5px;
  left: 13.478271484375px;
  color: rgba(123, 123, 123, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-music {
  top: 413px;
  left: 37px;
  width: 80px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-music1 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 34px;
  position: absolute;
}
.reading-open-text18 {
  top: 5px;
  left: 15.478271484375px;
  color: rgba(123, 123, 123, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-informatics {
  top: 414px;
  left: 223px;
  width: 129px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-informatics1 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 34px;
  position: absolute;
}
.reading-open-text20 {
  top: 5px;
  left: 15.478271484375px;
  color: rgba(123, 123, 123, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-geography {
  top: 461px;
  left: 30px;
  width: 128px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-geography1 {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 34px;
  position: absolute;
}
.reading-open-text22 {
  top: 5px;
  left: 15.478271484375px;
  color: rgba(123, 123, 123, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-physics {
  top: 461px;
  left: 266px;
  width: 94px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics01 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 34px;
  position: absolute;
}
.reading-open-text24 {
  top: 5px;
  left: 14.38775634765625px;
  color: rgba(123, 123, 123, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-physics02 {
  top: 461px;
  left: 165px;
  width: 94px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics03 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 34px;
  position: absolute;
}
.reading-open-text26 {
  top: 5px;
  left: 15.38775634765625px;
  color: rgba(123, 123, 123, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-easy {
  top: 581px;
  left: 61px;
  width: 65px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics04 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 34px;
  position: absolute;
}
.reading-open-text28 {
  top: 5px;
  left: 12px;
  color: rgba(123, 123, 123, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-easy1 {
  top: 700px;
  left: 61px;
  width: 72px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics05 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 34px;
  position: absolute;
}
.reading-open-text30 {
  top: 5px;
  left: 13.29230785369873px;
  color: rgba(123, 123, 123, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-medium {
  top: 582px;
  left: 139px;
  width: 100px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics06 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 34px;
  position: absolute;
}
.reading-open-text32 {
  top: 5px;
  left: 16px;
  color: rgba(123, 123, 123, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-medium1 {
  top: 701px;
  left: 142px;
  width: 100px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics07 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 34px;
  position: absolute;
}
.reading-open-text34 {
  top: 5px;
  left: 16px;
  color: rgba(123, 123, 123, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-hard {
  top: 582px;
  left: 252px;
  width: 71px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics08 {
  top: 0px;
  left: 0px;
  width: 71px;
  height: 34px;
  position: absolute;
}
.reading-open-text36 {
  top: 5px;
  left: 14px;
  color: rgba(123, 123, 123, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-hard1 {
  top: 701px;
  left: 252px;
  width: 71px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.reading-open-physics09 {
  top: 0px;
  left: 0px;
  width: 71px;
  height: 34px;
  position: absolute;
}
.reading-open-text38 {
  top: 5px;
  left: 14px;
  color: rgba(123, 123, 123, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.reading-open-rectangle18 {
  top: 761px;
  left: 155px;
  width: 83px;
  height: 53px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.reading-open-arrow {
  top: 776px;
  left: 179px;
  width: 31px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.reading-open-line5 {
  top: 520px;
  left: 44px;
  width: 301px;
  height: 0px;
  position: absolute;
}
.reading-open-line6 {
  top: 639px;
  left: 44px;
  width: 301px;
  height: 0px;
  position: absolute;
}
@media(max-width: 479px) {
  .reading-open-text {
    width: var(--dl-size-size-xxlarge);
  }
  .reading-open-chemistry {
    border-radius: 25px;
  }
  .reading-open-art {
    border-radius: 25px;
  }
  .reading-open-literature {
    border-radius: 25px;
  }
  .reading-open-biology {
    border-radius: 25px;
  }
}

.button-grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  top: 42%;
  left:10%;
  position: absolute;
  width: 80%;
  height: 20%;
  gap: 10px;
  margin:0;
  padding: 0;
 
}

.button-answer{
  width: 100%;
  height: 60%;
  border: 0;
  border-radius: 50px;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 16px;
  background-color: #F0F0F0;
  color: #929292;
}


.button-grid-diff{
  display: grid;
  grid-template-columns: repeat(3, auto);
  top: 69%;
  left:10%;
  position: absolute;
  width: 80%;
  height: 10%;
  gap: 10px;
  margin:0;
  padding: 0;
 
}
.button-answer-diff{
  width: 100%;
  height: 50%;
  border: 0;
  border-radius: 50px;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 16px;
  background-color: #F0F0F0;
  color: #929292;
}


.button-grid-length{
  display: grid;
  grid-template-columns: repeat(3, auto);
  top: 83%;
  left:10%;
  position: absolute;
  width: 80%;
  height: 10%;
  gap: 10px;
  margin:0;
  padding: 0;
 
}
.button-answer-length{
  width: 100%;
  height: 50%;
  border: 0;
  border-radius: 50px;
  font-family: Satoshi;
  font-weight: 700;
  font-size: 16px;
  background-color: #F0F0F0;
  color: #929292;
}
