<div>
  <link href="./achivement-clicked.css" rel="stylesheet" />
  <div class="achivement-clicked-container">
    <div class="achivement-clicked-achievementclicked">
      <span class="achivement-clicked-text">
        <span class="achivement-clicked-text1">
          <span>Achievement 1:</span>
          <br />
          <span></span>
          <br />
          <span></span>
        </span>
        <span>Finish your first quiz.</span>
      </span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b4901923-465b-4483-94cd-f1254d30d0e4/0354a121-c7b2-49a0-9b73-483d9c3e9598?org_if_sml=1707"
        alt="Rectangle286853"
        class="achivement-clicked-rectangle28"
      />
    </div>
  </div>
</div>
