<div>
  <link href="./exit-quiz.css" rel="stylesheet" />
  <div class="exit-quiz-container">
    <div class="exit-quiz-areyousure-listening">
      <span class="exit-quiz-text">
        <span>Are you sure you want to exit the quiz?</span>
        <br />
      </span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b4901923-465b-4483-94cd-f1254d30d0e4/f7e4d520-b08b-44d5-854f-c9adcbc1ca4f?org_if_sml=1943"
        alt="Rectangle298847"
        class="exit-quiz-rectangle29"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b4901923-465b-4483-94cd-f1254d30d0e4/768e955c-a4a4-4648-98f0-35d73d953c9f?org_if_sml=1951"
        alt="Rectangle308847"
        class="exit-quiz-rectangle30"
      />
      <span class="exit-quiz-text3"><span>No</span></span>
      <span class="exit-quiz-text5"><span>Yes</span></span>
    </div>
  </div>
</div>
