<div>
  <link href="./proceed-to-quiz-reading.css" rel="stylesheet" />
  <div class="proceed-to-quiz-reading-container">
    <div class="proceed-to-quiz-reading-areyousure-listening">
      <span class="proceed-to-quiz-reading-text">
        You will now take a quiz in regards to the text. Do you want to proceed?
      </span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b4901923-465b-4483-94cd-f1254d30d0e4/f7e4d520-b08b-44d5-854f-c9adcbc1ca4f?org_if_sml=1943"
        alt="Rectangle298847"
        class="proceed-to-quiz-reading-rectangle29"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b4901923-465b-4483-94cd-f1254d30d0e4/768e955c-a4a4-4648-98f0-35d73d953c9f?org_if_sml=1951"
        alt="Rectangle308847"
        class="proceed-to-quiz-reading-rectangle30"
      />
      <span class="proceed-to-quiz-reading-text1"><span>No</span></span>
      <span class="proceed-to-quiz-reading-text3"><span>Yes</span></span>
    </div>
  </div>
</div>
