<div>
  <link href="./unknown-words.css" rel="stylesheet" />
  <div class="unknown-words-container">
    <div class="unknown-words-unknown-words">
      <span class="unknown-words-text">
        <span>Write unknown word here:</span>
      </span>
      <img
        src="public/playground_assets/rectangle268836-4v6-300w.png"
        alt="Rectangle268836"
        class="unknown-words-rectangle26"
      />
      <div class="unknown-words-finish">
        <span class="unknown-words-text2"><span>Close</span></span>
      </div>
    </div>
  </div>
</div>
