<div>
  <link href="./word-clicked.css" rel="stylesheet" />
  <div class="word-clicked-container">
    <div class="word-clicked-wordclicked">
      <span class="word-clicked-text">
        <span class="word-clicked-text01">
          <span>furthermore</span>
          <br />
          <span></span>
        </span>
        <span class="word-clicked-text05">
          <span>adverb</span>
          <br />
          <span></span>
        </span>
        <span class="word-clicked-text09">
          in addition; besides (used to introduce a fresh consideration in an
          argument):
        </span>
        <span class="word-clicked-text10"></span>
        <span>
          It was also a highly desirable political end. Furthermore, it gave the
          English a door into France.
        </span>
      </span>
    </div>
  </div>
</div>
